@model StaticComponents.Web.Views.InputStatic.InputStaticComponentTest;

@if (Model.ShowLabel)
{
    <label static-for="@Model.InputExpression" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"></label>
}

<input static-for="@Model.InputExpression" type="@Model.Type" value="@Model.Value" disabled="@(Model.Disabled ? "true" : null)" class="flex w-full h-10 px-3 py-2 text-sm bg-white border rounded-md border-neutral-300 ring-offset-background placeholder:text-neutral-500 focus:border-neutral-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-400 disabled:cursor-not-allowed disabled:opacity-50" />